.u-section-1 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 48px auto 0 15px;
}

.u-section-1 .u-text-1 {
  margin: -227px 54px 60px 627px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -207px;
    margin-left: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -74px;
    margin-left: 0;
  }
}